<div class="preview-grid">
  <div><a href="#"><img src="assets/gallerie/madalena-small.jpg" alt="Madalena" /></a></div>
  <div><a href="#"><img src="assets/gallerie/moani-small.jpg" alt="Moani" /></a></div>
  <div><a href="#"><img src="assets/gallerie/elementi-small.jpg" alt="Elementi" /></a></div>
  <div><a href="#"><img src="assets/gallerie/axia-small.jpg" alt="Axia" /></a></div>
  <div><a href="#"><img src="assets/gallerie/arya-small.jpg" alt="Arya" /></a></div>

  <div><a href="#"><img src="assets/gallerie/nohea-small.jpg" alt="Nohea" /></a></div>
  <div><a href="#"><img src="assets/gallerie/ari-small.jpg" alt="Ari" /></a></div>
  <div><a href="#"><img src="assets/gallerie/makena-small.jpg" alt="Makena" /></a></div>
  <div class="more"><a href="#" class="plus">J'en veux plus!</a></div>
</div>
