<div class="preview-grid">
  <div><a href="https://www.etsy.com/ca-fr/listing/595173245/madalena"><img src="assets/gallerie/madalena-small.jpg" alt="Madalena" /></a></div>
  <div><a href="https://www.etsy.com/ca-fr/listing/653076879/ora?ref=shop_home_active_2"><img src="assets/gallerie/ora-small.jpg" alt="Ora" /></a></div>
  <div><a href="https://www.etsy.com/ca/listing/594065981/elimenti-abstract-fluid-acrylic-painting"><img src="assets/gallerie/elementi-small.jpg" alt="Elementi" /></a></div>
  <div><a href="https://www.etsy.com/ca/listing/584422910/axia"><img src="assets/gallerie/axia-small.jpg" alt="Axia" /></a></div>
  <div><a href="https://www.etsy.com/ca/listing/584424510/arya"><img src="assets/gallerie/arya-small.jpg" alt="Arya" /></a></div>

  <div><a href="https://www.etsy.com/ca-fr/listing/639246270/lai"><img src="assets/gallerie/lai-small.jpg" alt="Lai" /></a></div>
  <div><a href="https://www.etsy.com/ca-fr/listing/653055511/ari"><img src="assets/gallerie/ari-small.jpg" alt="Ari" /></a></div>
  <div><a href="https://www.etsy.com/ca/listing/580099188/makena"><img src="assets/gallerie/makena-small.jpg" alt="Makena" /></a></div>
  <div class="more"><a href="https://www.etsy.com/ca-fr/shop/atelierbarbo" class="plus">J'en veux plus!</a></div>
</div>
