<div mnFullpage>
<div id="header-container">
  <header [ngClass]="{
        'menu': true,
        'closed': !menuActive,
        'opened': menuActive
    }">
    <div class="overlay"></div>
    <h1>Bienvenue sur le site officiel<br />d’Atelier Barbö!</h1>
    <nav class="menu-open">
      <div class="logo"><img src="assets/logo.png" alt="Atelier Barbö" /></div>
      <div class="open-menu-link"><a href="test" (click)="toggleMenu()"><img src="assets/menu-pizza.png" alt="" /></a></div>
      <div class="lien-boutique"><a href="https://www.etsy.com/ca-fr/shop/atelierbarbo"><img src="assets/boutique.png" alt="" /></a></div>
    </nav>
    <nav class="menu-close">
      <div class="close-menu-link"><a href="#" (click)="toggleMenu()"><img src="assets/menu-pizza-close.png" alt="" /></a></div>
      <div class="lien-boutique"><a href="https://www.etsy.com/ca-fr/shop/atelierbarbo"><img src="assets/boutique.png" alt="" /></a></div>
    </nav>
    <nav class="links">
      <a href="https://www.facebook.com/atelierbarbo/"><img src="assets/facebook.png" alt="Facebook" /></a>
      <a href="https://www.instagram.com/atelierbarbo/"><img src="assets/instagram.png" alt="Instagram" /></a>
      <a href="https://www.linkedin.com/in/atelier-barb%C3%B6-a2116a153/"><img src="assets/linkedin.png" alt="LinkedIn" /></a>
      <a href="https://www.pinterest.ca/atelierbarbo/"><img src="assets/pinterest.png" alt="Pinterest" /></a>
    </nav>
    <nav class="middle">
      <h2>/ Menu</h2>
      <ul>
        <li><a routerLink="/" fragment="gallerie" (click)="gotoSection(0)"><span>01 - </span>Gâte tes yeux</a></li>
        <li><a routerLink="/" fragment="atelier" (click)="gotoSection(1)"><span>02 - </span>L’Atelier Barbö</a></li>
        <li><a routerLink="/" fragment="contact" (click)="gotoSection(2)"><span>03 - </span>Contacte-nous</a></li>
        <li><a href="https://www.etsy.com/ca-fr/shop/atelierbarbo"><span>04 - </span>La shop</a></li>
      </ul>
    </nav>
  </header>
</div>

<div id="sectionsStart" #sectionsStart></div>
<div id="sections">
  <section id="gallerie" [ngClass]="{'active': activeSections[0]}">
    <h4 class="next-section-link"><a href="#" (click)="activateSection(1)"><span>02 - </span>Découvre l'atelier</a></h4>
    <div class="main-content">
      <div class="main-content-header">
        <h2><span>01 - </span>Gâte tes yeux</h2>
        <h3><a href="https://www.etsy.com/ca-fr/shop/atelierbarbo" class="decouvrir">Découvrir tout</a></h3>
      </div>
      <app-gallery-grid></app-gallery-grid>
    </div>
  </section>

  <section id="atelier" [ngClass]="{'active': activeSections[1]}">
    <h4 class="previous-section-link"><a href="#" (click)="activateSection(0)"><span>01&nbsp;-&nbsp;</span>Gâte&nbsp;tes&nbsp;yeux</a></h4>
    <section id="atelier-photo"></section>
    <section id="atelier-info">
      <h2><span>02 - </span>Atelier</h2>
      <p>Atelier Barbö est né de l'association de deux artistes québécoises (Marie-Claude Beaudoin et Maude Savard) et de leur désir réciproque d'explorer de nouvelles avenues artistiques.</p>
      <p>C'est grâce à un mélange de techniques et de médiums liquides que nous définissons la fluidité de nos compositions et l'intensité de notre créativité vivante et débordante.</p>
      <p>L’Atelier offre plusieurs services personnalisés à sa clientèle tels que :</p>
      <ul>
        <li [ngClass]="{'active':active[0]}">
          <a href="#" (click)="toggleInfo(0)" #venteEnBoutique>
          Vente en boutique
          <img src="assets/info-active.png" alt="Active" *ngIf="active[0]">
          <img src="assets/info-inactive.png" alt="Active" *ngIf="!active[0]">
        </a>
          <div class="details">
            <p>Vous préférez choisir vos décorations murales en boutique? Aucun problème, plusieurs de nos oeuvres sont exposées en boutique pour permettre à notre clientèle de valider la qualité de nos produits avant l’achat.</p>
            <p><em>Où pouvez-vous les retrouver?</em></p>
            <ul>
              <li>Les boutiques Eaudace</li>
              <li>Caron Décor</li>
            </ul>
          </div>
        </li>
        <li [ngClass]="{'active':active[1]}">
          <a href="#" (click)="toggleInfo(1)" #commandesSurMesure>
          Commandes sur mesure
          <img src="assets/info-active.png" alt="Active" *ngIf="active[1]">
          <img src="assets/info-inactive.png" alt="Active" *ngIf="!active[1]">
        </a>
          <div class="details">
            <p>Contactez-nous pour nous parler de vos projets!</p>
            <p>Nous serions ravis de coopérer avec vous afin de créer le décors de vos rêves.</p>
          </div>
        </li>
        <li [ngClass]="{'active':active[2]}">
          <a href="#" (click)="toggleInfo(2)" #serviceAuxProfessionnels>
          Service aux professionnels
          <img src="assets/info-active.png" alt="Active" *ngIf="active[2]">
          <img src="assets/info-inactive.png" alt="Active" *ngIf="!active[2]">
        </a>
          <div class="details">
            <p>Que vous soyez designer, courtier immobilier ou si vous êtes tout simplement un professionnel qui désirez égayer votre temps passé au bureau, nous pouvons vous aider!</p>
          </div>
        </li>
        <li [ngClass]="{'active':active[3]}">
          <a href="#" (click)="toggleInfo(3)" #venteEnLigne>
          Vente en ligne
          <img src="assets/info-active.png" alt="Active" *ngIf="active[3]">
          <img src="assets/info-inactive.png" alt="Active" *ngIf="!active[3]">
        </a>
          <div class="details">
            <p>Notre boutique en ligne Etsy est désormais prête à recevoir des visiteurs. Visitez-là régulièrement pour voir nos nouveautés. Qui sait, peut-être trouverez-vous l’oeuvre d’art que vous cherchez depuis si longtemps.</p>
          </div>
        </li>
      </ul>
    </section>
  </section>
</div>

<section id="contact">
  <section id="contact-info">
    <h2><span>01 - </span>Contacte-nous</h2>
    <p>Si tu désire plus d’informations, créer un projet personnalisé ou collaborer avec nous, n’hésite pas à communiquer avec l’atelier.</p>
    <p><a href="mailto:atelierbarbo@gmail.com">atelierbarbo@gmail.com</a></p>
    <p>
      <a href="https://www.facebook.com/atelierbarbo/"><img src="assets/facebook.png" alt="Facebook" /></a>
      <a href="https://www.instagram.com/atelierbarbo/"><img src="assets/instagram.png" alt="Instagram" /></a>
      <a href="https://www.linkedin.com/in/atelier-barb%C3%B6-a2116a153/"><img src="assets/linkedin.png" alt="LinkedIn" /></a>
      <a href="https://www.pinterest.ca/atelierbarbo/"><img src="assets/pinterest.png" alt="Pinterest" /></a>
    </p>
  </section>
  <section id="contact-map">
    <a href="#" alt=""><img src="assets/map.jpg" alt="Carte de montr&eacute;l" /></a>
  </section>
</section>

<section id="footer" #contactStart>
  © Atelier Barbö - Tous droits réservés.
</section>
</div>
