<header class="menu-closed">
  <h1>Bienvenue sur le site officiel<br />d’Atelier Barbö!</h1>
  <nav class="left">
    <div class="logo"><img src="assets/logo.png" alt="Atelier Barbö" /></div>
    <div class="menu-closed"><a href="#"><img src="assets/menu-pizza.png" alt="" /></a></div>
    <div class="lien-boutique"><a href="#"><img src="assets/boutique.png" alt="" /></a></div>
    <div class="menu-open"><a href="#"><img src="assets/menu-pizza-close.png" alt="" /></a></div>
  </nav>
  <nav class="middle">
    <h2>/ Menu</h2>
    <ul>
      <li><a href="#"><span>01 - </span>Gâte tes yeux</a></li>
      <li><a href="#"><span>02 - </span>L’Atelier Barbö</a></li>
      <li><a href="#"><span>03 - </span>Contacte-nous</a></li>
      <li><a href="#"><span>04 - </span>La shop</a></li>
    </ul>
  </nav>
  <nav class="right">
    <a href="#"><img src="assets/facebook.png" alt="Facebook" /></a>
    <a href="#"><img src="assets/instagram.png" alt="Instagram" /></a>
    <a href="#"><img src="assets/linkedin.png" alt="LinkedIn" /></a>
    <a href="#"><img src="assets/pinterest.png" alt="Pinterest" /></a>
  </nav>
</header>

<header class="menu-open">
  <h1>Bienvenue sur le site officiel<br />d’Atelier Barbö!</h1>
  <nav class="left">
    <div class="logo"><img src="assets/logo.png" alt="Atelier Barbö" /></div>
    <div class="menu-closed"><a href="#"><img src="assets/menu-pizza.png" alt="" /></a></div>
    <div class="lien-boutique"><a href="#"><img src="assets/boutique.png" alt="" /></a></div>
    <div class="menu-open"><a href="#"><img src="assets/menu-pizza-close.png" alt="" /></a></div>
  </nav>
  <nav class="middle">
    <h2>/ Menu</h2>
    <ul>
      <li><a href="#"><span>01 - </span>Gâte tes yeux</a></li>
      <li><a href="#"><span>02 - </span>L’Atelier Barbö</a></li>
      <li><a href="#"><span>03 - </span>Contacte-nous</a></li>
      <li><a href="#"><span>04 - </span>La shop</a></li>
    </ul>
  </nav>
  <nav class="right">
    <a href="#"><img src="assets/facebook.png" alt="Facebook" /></a>
    <a href="#"><img src="assets/instagram.png" alt="Instagram" /></a>
    <a href="#"><img src="assets/linkedin.png" alt="LinkedIn" /></a>
    <a href="#"><img src="assets/pinterest.png" alt="Pinterest" /></a>
  </nav>
</header>
